@media only screen and (max-width: 450px) {

    html {
        height: unset;
        min-height: unset;
    }
    body {
        height: unset;
        min-height: unset;
        margin:unset;
        padding:unset;
        position: unset;
        width:unset;
        top:unset;
        left:unset;
    }


    header, main, .main-first-row, .main-second-row {
        height: unset;
        width: unset;
    }

    .main-first-row, .main-second-row {
        flex-direction: column;
        font-size: 18px;
    }

    header > div,
    header > nav,
    footer > div,
    .main-first-row > div,
    .main-second-row > div {
        width: unset;
        border: unset;
    }

    .main-first-row> div:nth-child(odd),
    .main-second-row> div:nth-child(even) {
        background-color: #4285F4;
    }

    .main-first-row> div:nth-child(even),
    .main-second-row> div:nth-child(odd) {
        background-color: #F44242;
    }


    .main-invisible {
        display: unset;
        font-size: 14px;
    }

    .main-visible:hover p {
        align-self: unset;
    }

    .electronics:hover > .main-invisible,
    .pc:hover > .main-invisible,
    .kitchen:hover > .main-invisible,
    .repair:hover > .main-invisible,
    .garden:hover > .main-invisible {
        font-size: 14px;
    }

    .electronics {
        background-image: url(../assets/svg/electronic.svg);
    }
    .pc {
        background-image: url(../assets/svg/pc.svg);
    }

    .kitchen {
        background-image: url(../assets/svg/kitchen.svg);
    }
    .repair{
        background-image: url(../assets/svg/repair.svg);
    }

    .garden{
        background-image: url(../assets/svg/garden.svg);
    }

    .avto-moto{
        background-image: url(../assets/svg/avto-moto.svg);

    }

    .main-first-row > div,
    .main-second-row > div{
    background-position-y: 15%;
    background-position-x: 50%;
    background-size: 20%;
        text-align: center;
        margin: 0;
        padding: 0 20% 8%;
    }
    .main-visible {
        padding-top: 50%;
        padding-bottom: 5%;
        flex-grow: 1;
        width: 100%;
    }

    .electronics, .pc, .kitchen, .repair, .garden, .avto-moto  {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-invisible:hover {
        font-size: unset;
        padding: unset;
        margin: unset;
        transition: unset;
    }

    header .slides {
        width: 100%;
        /*height: fit-content;*/
     }

    /*.body_slides,*/
    /*.body_slides:after*/
    /*{*/
        /*height: unset;*/
    /*}*/

    .logo {
        order: 1;
    }
    .top-menu {
        display: none;
    }

    .logo img {
        width: 20vw;
        padding: 10% 0 15% 40%;
    }

    header {
        flex-direction: column;
    }

    .menu-search {
        justify-content: unset;
        align-items: flex-end;
    }
    .menu-button {
        margin-left: 8%;
        margin-top: 8%;
    }

    .search-button {
        top: 3%;
        right: 8%;
    }

    .fa-search {
        font-size: 8vw;
        line-height: unset;
        margin-top: unset;
    }

    .search-page {
        bottom: 0;
        right: 0;
    }

    .burger-menu.opened {
        top: 0;
        width: 100%;
    }

    .burger-menu .menu-list {
        font-size: 4vw;
         text-align: center;
    }
    .search-button-img {
        width: 4%;
        margin-right: 2%;
    }

    footer {
        flex-direction: column;
        height: 100px;
    }
    .footer-left, .footer-right {
        font-family: Rubik, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: rgba(52, 54, 59, 0.8);
        background: #F5F6F7;
    }
    .footer-center {
        order: 0;
        background: #FFFFFF;
        font-family: Rubik, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #34363B;
    }
    .footer-left {
        order: 1;
    }
    .footer-right {
        order: 2;
    }

    footer .footer-right,
    footer .footer-left,
    footer .footer-center {
        justify-content: center;
    }

    footer .footer-right p,
    footer .footer-left p,
    footer .footer-center p {
        margin-left: unset;
    }
    .footer-center {
        opacity: 1;
        text-align: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    .footer-center a {
        text-decoration: inherit;
        color: inherit;
    }

    .footer-center p:first-child {
        margin-top: 50%;
        margin-bottom: 25%;
        font-size: 25px;
    }

    .footer-center p:last-child {
        margin-bottom: 40%;
    }

    .footer-left p {
        margin-top: 7%;
    }

    .footer-left,  .footer-right {
        text-transform: capitalize;
    }

    .search-page.opened,
    .burger-menu.opened,
    .menu-button.opened span {

        position: fixed;
    }

    .search-button.opened {
        background-size: 65%;
        position: fixed;
    }

    .body_slides {
        height: 33.333%;
    }
}